@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body
	{
	margin: 0;
	padding: 0; 
	font-family: 'Roboto Condensed', sans-serif;
	}


section
	{
	display: flex;
	width: 100%;
	height: 100vh;	
	background: url(Event2.jpg);
	background-size: cover;
	}


section .leftBox
	{
	flex: 50%;
	width: 50%;
	height: 50%;
	float: left;
	padding: 50px;
	box-sizing: border-box;
	}

section .leftBox .content
	{
	color: #fff;
	background: rgba(0,0,0,.5);
	padding: 40px;
	transition: .5s;
	}

section .leftBox .content:hover
	{
	background: #e91e63;
	}

section .leftBox .content h1
	{
	margin: 10px 0;
	padding: 0;
	font-size: 50px;
	text-transform: uppercase; 
	}

section .leftBox .content p
	{
	margin: 10px;
	padding: 0;
	}


section .events
	{
	flex: 50%;
	position: relative;
	width: 50%;
	height: 200%;
	background: rgba(0,0,0,.5);
	float: right;
	box-sizing: border-box;
	}

section .events ul
	{
	position: relative;
	top: 30%;
	transform: translateY(-50%);
	margin: 0;
	padding: 40px;
	box-sizing: border-box;
	}

section .events ul li
	{
	list-style: none;
	background: #fff;
	box-sizing: border-box;
	height: 200px;
	margin: 15px 0;
	}

section .events ul li .time
	{
	position: relative;
	padding: 20px;
	background: #262626;
	box-sizing: border-box;
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
	transition: .5s;
	top: 50;
	}


section .events ul li:hover .time
	{
	background: #e91e63;
	}

section .events ul li .time h2
	{
	position: absolute;
	margin: 0;
	padding: 0;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 60px;
	line-height: 30px
	}

section .events ul li .time h2 span
	{
	font-size: 25px;
	}

section .events ul li .details
	{
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	float: left;
	}

section .events ul li .details h3
	{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 22px;

	}
section .events ul li .details span
	{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 13px;

	}

section .events ul li .details p
	{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 15px;

	}

media only screen and (max-width:800px) 

{

  .leftbox {
    width: 80%;
    padding: 0;
 }

  .content {
    width: 80%;
    padding: 0;
  }

  .time {
    width: 100%;
  }
  
  .details {
    width: 100%;
  }

}

  @media only screen and (max-width:620px) 
{
  .leftbox , .content, .time, details {
    width:100%;
  }
}

  
}